[data-theme="spruce"] {
  /* Button */
  --button-alternate-face: rgb(160, 184, 160);
  --button-dk-shadow: rgb(10, 10, 10);
  --button-face: rgb(160, 184, 160);
  --button-hilight: rgb(255, 255, 255);
  --button-light: rgb(192, 212, 192);
  --button-shadow: rgb(96, 128, 96);
  --button-text: rgb(0, 0, 0);

  /* Window */
  --active-border: rgb(160, 184, 160);
  --app-workspace: rgb(96, 128, 96);
  --desktop-text: rgb(255, 255, 255);
  --inactive-border: rgb(160, 184, 160);
  --scrollbar: rgb(160, 184, 160);
  --window: rgb(255, 255, 255);
  --window-frame: rgb(10, 10, 10);
  --window-text: rgb(0, 0, 0);

  /* Title Bar */
  --active-title: rgb(58, 102, 69);
  --gradient-active-title: rgb(122, 170, 130);
  --gradient-inactive-title: rgb(154, 184, 158);
  --inactive-title: rgb(106, 136, 112);
  --inactive-title-text: rgb(160, 184, 160);
  --title-text: rgb(255, 255, 255);

  /* Menu */
  --menu: rgb(160, 184, 160);
  --menu-bar: rgb(160, 184, 160);
  --menu-hilight: rgb(58, 102, 69);
  --menu-text: rgb(0, 0, 0);
  --gray-text: rgb(96, 128, 96);

  /* Highlight / Selection */
  --hilight: rgb(58, 102, 69);
  --hilight-text: rgb(255, 255, 255);
  --hot-tracking-color: rgb(0, 0, 255);

  /* Tooltip */
  --info-text: rgb(0, 0, 0);
  --info-window: rgb(255, 255, 225);

  /* Desktop */
  --background: rgb(42, 80, 48);
}
